<div>
    <mt-datetime-picker ref="picker" v-model="date" type="date" year-format="{value} 年" month-format="{value} 月"
        date-format="{value} 日">
    </mt-datetime-picker>
    <h1 class="text-center">登记</h1>
    <hr />
    <form>
        <div class="form-group">
            <label>日期</label>
            <input type="text" class="form-control" readonly v-bind:value="dateStr" v-on:click="showPicker" />
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>书籍名称</th>
                    <th>数量</th>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item,index in records">
                    <td>
                        <select class="form-control" v-model="item.bookId">
                            <option v-for="book in books" v-bind:value="book.id">{{ book.name }}</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" v-model.number="item.count" />
                    </td>
                    <td>
                        <a class="btn btn-danger" v-on:click="remove(index)">移除</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a class="btn btn-info btn-block" v-on:click="addRow">添加一条记录</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
    </form>
    <hr />
    <a class="btn btn-primary btn-block" v-on:click="save()">保存</a>
    <a class="btn btn-default btn-block" v-on:click="gotoBooks()">书籍管理</a>
</div>